.all-work {
    /* border: 2px solid blue; */
    height: 2200px;
    padding: 30px;
}


.navber-1 {
    justify-content: space-between;
    box-shadow: 0px 5px 5px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
}


.navber,
ul,
li,
a {
    display: flex;
    text-decoration: none;
    margin: 10px;
    list-style: none;
    justify-content: space-between;

}

.nav-work {
    margin: 20px;
    color: rgb(39, 59, 113);

}

.main-work {
    margin: 50px;

}

.hero-section {
    display: flex;
    /* border: 2px solid blue; */
    margin: 10px;
    padding: 20px;
    margin: auto;
    align-items: center;
}

.hero-hedar {
    text-align: center;



}

.headar-content {
    text-align: center;
}

.main-headar {
    display: flex;
    margin: 20px;
}

.card {
    margin: 20px;
}

.btn-style {
    background-color: rgb(130, 141, 135);
    color: white;
    padding: 8px;
    border-radius: 5px;

}